@model Dictionary<String, IEnumerable<Quiz.Web.Models.Pontuacao>>

@{
    ViewBag.Title = "Rank";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Semanal </a></li>
    <li><a data-toggle="tab" href="#menu1">Mensal</a></li>

</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div>
            <h2>Ranking Semanal</h2>

            <table class="table Semana">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model["rankSemana"].ElementAt(0).Usuario)
                        </th>
                        <th>
                            Categorias
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model["rankSemana"].ElementAt(0).Pontos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model["rankSemana"].ElementAt(0).Data)
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model["rankSemana"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeCategoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pontos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="menu1" class="tab-pane fade">
        <div>

            <h2>Ranking Mensal</h2>

            <table class="table Mes">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model["rankMes"].ElementAt(0).Usuario)
                        </th>
                        <th>
                            Categorias
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model["rankMes"].ElementAt(0).Pontos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model["rankMes"].ElementAt(0).Data)
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model["rankMes"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeCategoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pontos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $("tr:contains('@User.Identity.Name')").css('background-color', '#C0C0C0 ');
    </script>
}