@model IEnumerable<Quiz.Web.Models.Pontuacao>

@{
    ViewBag.Title = "Index";
    ViewBag.id = new Categoria().GetCategoria();
    var random = new Random().Next(40 , 100) * 10;
}

<h2>Index</h2>

<a href="#" onclick="criarBot()">Gerar pontuação aleatória</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pontos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCategoria)
        </td>
    </tr>
}

</table>

<script>
    var nomes = ["arthuroliveira1000", "augustosw", "bernardobrezende", "CamiCanali", "CassianoNeves", "dagneserodrigo", "eshicruz", "gabriel-moutinho", "gabsouza", "Giordanowt", "glauber-barboza", "gustavojardim", "jbcabreras", "josealencar", "juarezmonteiro", "konvborg", "LucasKauer", "nunes-andre", "PabloDiehl", "paulatomasi", "ramonkroetz", "robsonvpires", "rodrigomolinamunhoz", "vitordecastro"];
    var dominios = ["@@gmail.com", "@@hotmail.com", "@@outlook.com"];

    var nome = nomes[Math.floor(Math.random() * nomes.length)];
    var dominio = dominios[Math.floor(Math.random() * dominios.length)];
    var pontos = @random;


    function usuario() {
        return nome + dominio;
    }

    function criarBot() {
        $.ajax({
            url: "@Url.Action("Pontuacao", "Quiz")",
            type: "POST",
            dataType: 'json',
            data: {
                Usuario: usuario(),
                Pontos: pontos,
                cat: '@ViewBag.id'
            },
            cache: false,
        }).done(function () {
            window.location.href = "/Pontuacaos"
        });
    }
</script>
