@model IEnumerable<Quiz.Dominio.Pergunta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Questao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.erradoA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.erradoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.erradoC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Questao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.erradoA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.erradoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.erradoC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
