@{
    ViewBag.Title = "Details";
}

<h2>
    Details
</h2>


<h1 class="questao"></h1>
<div class="respostas">
    <p><a class="btn btn1 btn-primary btn-lg"></a></p>
    <p><a class="btn btn2 btn-primary btn-lg"></a></p>
    <p><a class="btn btn3 btn-primary btn-lg"></a></p>
    <p><a class="btn btn4 btn-primary btn-lg"></a></p>
</div>

<span id="timer">15</span>
<button onclick="myStopFunction()">Stop time</button>

@section Scripts{
    <script>
    //alert(qtdRestaurantes);

    var questao = $('.questao');
    var sortearOrdemPergunta = {};
    var OrdemRespostas = {};
    var sortearOrdemRespostas = {};
    var questaoCerta = '';
    var questaoRespondida = '';
    var sec = 0;
    var totalPontos = 0;
    var totalTempo = 0;
    var contador = {}



    $.get('@Url.Action("Perguntas", "Quiz", new { id = @ViewBag.id })')
      .done(function (response) {


          sortearOrdemPergunta = jQuery(response).get().sort(function () {
              return Math.round(Math.random()) - 0.5
          }).slice(0, 5);
          remover();
      });



    function remover() {
        questaoAtual = sortearOrdemPergunta[0];
        sortearOrdemPergunta.splice(0, 1);
        console.log(questaoAtual);

        if (questaoAtual === undefined) {
            salvar();
        } else {
            mostraQuestao(questaoAtual);
        }


    }



    $(function () {
        $('.btn').click(function () {

            //pausa o contador
            myStopFunction();

            $(function () {
                $('.btn').css('pointer-events', 'none');
            });
            questaoRespondida = "#" + $(this).attr('id').replace(" ", "-");


            //console.log('Questao Respondida: ' + questaoRespondida);



            console.log(questaoRespondida + ' - ' + questaoCerta + '-' + sec);



            if (questaoRespondida === questaoCerta) {
                var pontos = sec * 10;

                totalTempo += (15 - sec);
                totalPontos += pontos;

                console.log(totalTempo + ' ' + totalPontos)

                $(questaoRespondida).addClass('btn-success');
                console.log('Certo - ');
            } else {
                console.log('Errado - ');

                $(questaoCerta).addClass('btn-success');

                $(questaoRespondida).addClass('btn-danger')
            };

            setTimeout(
              function () {
                  $(function () {
                      $('.btn').css('pointer-events', 'auto');
                  });
                  $(".respostas").find(".btn-success").removeClass("btn-success")
                  $(".respostas").find(".btn-danger").removeClass("btn-danger")

                  remover();

              }, 3000);


        });
    });




    function mostraQuestao(questaoAtual) {

        //reinicia o contador
        sec = 16;
        myTimer();
        contador = setInterval(function () { myTimer() }, 1000);

        questao.text(questaoAtual.Questao);
        questaoCerta = '.' + questaoAtual.Resposta;
        console.log(questaoCerta);


        questao.text(questaoAtual.Questao);

        questaoCerta = '#' + questaoAtual.Resposta.split(' ').join('-');
        //console.log('Respora certa: ' + questaoAtual.Resposta);

        ordemRespostas = [questaoAtual.Resposta, questaoAtual.erradoA, questaoAtual.erradoB, questaoAtual.erradoC];



        sortearOrdemRespostas = jQuery(ordemRespostas).get().sort(function () {
            return Math.round(Math.random()) - 0.5
        }).slice(0, 5);

        $('.btn1  ').text(sortearOrdemRespostas[0]).attr('id', sortearOrdemRespostas[0].split(' ').join('-'));
        $('.btn2  ').text(sortearOrdemRespostas[1]).attr('id', sortearOrdemRespostas[1].split(' ').join('-'));
        $('.btn3  ').text(sortearOrdemRespostas[2]).attr('id', sortearOrdemRespostas[2].split(' ').join('-'));
        $('.btn4  ').text(sortearOrdemRespostas[3]).attr('id', sortearOrdemRespostas[3].split(' ').join('-'));

        //resposta();
    };

    //Contador regressivo

    function myTimer() {
        sec--;
        if (sec == 00) { sec = 15; }
        document.getElementById("timer").innerHTML = sec
    }

    function myStopFunction() {
        clearInterval(contador);
    }

    function salvar() {
        $.ajax({
            url: "@Url.Action("Pontuacao", "Quiz")",
            type: "POST",
            dataType: 'json',
            data: {
                Usuario: "@User.Identity.Name",
                cat: @ViewBag.id,
                Pontos: totalPontos
            },
            cache: false
        }).done(function(){
            $(".navbar").after(function()
            {
                return "<div class='fimJogo btn-lg btn-primary'>Fim de Jogo!<br>"
                +"Jogador: @User.Identity.Name<br>"
                +"Categoria: @ViewBag.id<br>"
                +"Pontuação Final: "+totalPontos+"</div>";
            });
            $(".fimJogo").on("click", function() {
                window.location.href = "/Quiz";
            });
        });
    }

</script>
}