@{
    ViewBag.Title = "Quiz";
}
<h2>
    1/10

</h2>

<h1 class="questao"></h1>
<div class="respostas">
    <p><a class="btn btn1 btn-primary btn-lg"></a></p>
    <p><a class="btn btn2 btn-primary btn-lg"></a></p>
    <p><a class="btn btn3 btn-primary btn-lg"></a></p>
    <p><a class="btn btn4 btn-primary btn-lg"></a></p>
</div>
@*<button onclick="myStopFunction()">Stop time</button>*@

<p id="demo" style="height: 150px;text-align: center;vertical-align: middle;"></p>



@section Scripts{
    @Scripts.Render("~/bundles/jquerypietimer")

    <script>
        //alert(qtdRestaurantes);

        var numQuestao=0;
        var questao = $('.questao');
        var sortearOrdemPergunta = {};
        var OrdemRespostas = {};
        var sortearOrdemRespostas = {};
        var questaoCerta = '';
        var questaoRespondida = '';
        var sec = 0;
        var totalPontos = 0;
        var contador = {}
        var pieTempo= 15;
        var valorDifi= 10;


        $.get('@Url.Action("Perguntas", "Quiz", new { id = @ViewBag.id, dificuldade = @ViewBag.dificuldade })')
                  .done(function (response) {

                      if( @ViewBag.dificuldade ==3){
                          valorDifi=15;
                          pieTempo=10;
                      }
                      if( @ViewBag.dificuldade ==1){
                          valorDifi=5;
                          pieTempo=20;
                      }

                      sortearOrdemPergunta = jQuery(response).get().sort(function () {
                          return Math.round(Math.random()) - 0.5
                      }).slice(0, 10);

                      opcoes();
                      remover();
                  });


        function remover() {
            numQuestao++;
            if(numQuestao >=11){
                numQuestao=10;
            }
            $('h2').text(numQuestao+'/10')

            myStopFunction();
            questaoAtual = sortearOrdemPergunta[0];
            sortearOrdemPergunta.splice(0, 1);

            if (questaoAtual === undefined) {
                salvar();
            } else {
                mostraQuestao(questaoAtual);
            }
        }

        $('.btn').click(function () {
            $('.btn').css('pointer-events', 'none');
            $('#demo').pietimer('pause');
            myStopFunction();

            $(function () {

            });

            questaoRespondida = "#" + $(this).attr('id').split(/[ ,:;]+/).join('-');

            validar(questaoRespondida);
        });

        function validar(questaoRespondida) {
            //pausa o contador
            myStopFunction();


            if (questaoRespondida === questaoCerta) {
                var pontos = sec * valorDifi;

                totalPontos += pontos;


                $(questaoRespondida).addClass('btn-success');
            } else {
                //console.log('Erroooou')
                $(questaoCerta).addClass('btn-success');

                $(questaoRespondida).addClass('btn-danger')
            };

            setTimeout(
              function () {
                  $('.btn').css('pointer-events', 'auto');
                  $(".respostas").find(".btn-success").removeClass("btn-success")
                  $(".respostas").find(".btn-danger").removeClass("btn-danger")

                  remover();

              }, 1000);

        }

        function mostraQuestao(questaoAtual) {
            $('#demo').pietimer('start');
            $('#demo').pietimer('restart');
            //reinicia o contador

            sec = pieTempo+1;
            myTimer();
            contador = setInterval(function () { myTimer() }, 1000);


            questao.text(questaoAtual.Questao);
            questaoCerta =  questaoAtual.Resposta;
            //console.log(questaoCerta);


            questao.text(questaoAtual.Questao);

            questaoCerta = '#' + questaoAtual.Resposta.split(/[ ,.:;]+/).join('-');
            //console.log('Respora certa: ' + questaoAtual.Resposta);

            ordemRespostas = [questaoAtual.Resposta, questaoAtual.erradoA, questaoAtual.erradoB, questaoAtual.erradoC];



            sortearOrdemRespostas = jQuery(ordemRespostas).get().sort(function () {
                return Math.round(Math.random()) - 0.5
            }).slice(0, 5);

            $('.btn1  ').text(sortearOrdemRespostas[0]).attr('id', sortearOrdemRespostas[0].split(/[ ,.:;]+/).join('-'));
            $('.btn2  ').text(sortearOrdemRespostas[1]).attr('id', sortearOrdemRespostas[1].split(/[ ,.:;]+/).join('-'));
            $('.btn3  ').text(sortearOrdemRespostas[2]).attr('id', sortearOrdemRespostas[2].split(/[ ,.:;]+/).join('-'));
            $('.btn4  ').text(sortearOrdemRespostas[3]).attr('id', sortearOrdemRespostas[3].split(/[ ,.:;]+/).join('-'));


        };

        function myTimer()
        {
            sec--;
            if (sec == 00) {

                sec = pieTempo;
                alert('nao repondeu');

                remover();

            }
        }

        function myStopFunction()
        {
            clearInterval(contador);
        }

        function salvar() {
            $.ajax({
                url: "@Url.Action("Pontuacao", "Quiz")",
                type: "POST",
                dataType: 'json',
                data: {
                    Usuario: "@User.Identity.Name",
                    cat: '@ViewBag.id',
                    Pontos: totalPontos
                },
                cache: false
            }).done(function(resultado){
                $(".navbar").after(function()
                {
                    return "<div class='fimJogo'><div class='interiorFimJogo'><p>Fim de Jogo!</p>"
                    +"<p>Jogador: "+resultado.u+"</p>"
                    +"<p>Categoria: "+resultado.c+"</p>"
                    +"<p>Pontuação Final: "+resultado.p+"</p>"
                    +"<p>Clique aqui para voltar</p></div></div>";
                });
                $(".fimJogo").on("click", function() {
                    window.location.href = "/Quiz";
                });
            });
        }

        function opcoes() {
            $('#demo').pietimer({
                seconds: pieTempo,
                color: 'rgba(0, 0, 0, 0.8)',
                height: 100,
                width: 100,
                is_reversed: false
            });
        }

    </script>
}