@model IEnumerable<Quiz.Web.Categoria>
@{
    ViewBag.Title = "Index";
}

<h2>Escolha uma Categoria</h2>



    @foreach (var item in Model)
    {


        <div id='cssmenu' >
            <ul>

                <li class='active has-sub'>
                    <a href='#' class="btn btn-default"><span>@item.Nome</span></a>
                    <ul>
                       
                            @Html.ActionLink("Fácil", "Details", new { id = item.Id, dificuldade = 1 }, new { @class = "btn btn-default " })
                        @Html.ActionLink("Médio", "Details", new { id = item.Id, dificuldade = 2 }, new { @class = "btn btn-default " })
                        @Html.ActionLink("Díficil ", "Details", new { id = item.Id, dificuldade = 3 }, new { @class = "btn btn-default " })
                        @*@Html.ActionLink(@item.Nome, "Details", new { id = item.Id }, new { @class = "btn btn-default " })*@
                  

                    </ul>
                </li>

            </ul>
        </div>




    }


